caddy
GeoLite2-Country.mmdb
debug.json
log.json
waf_test_results.log
tor_ip_blacklist.txt
tor_blacklist.txt
testdata
testdata/dns_blacklist.txt
testdata/GeoIP2-Country-Test.mmdb
testdata/ip_blacklist.txt
testdata/rules.json
log.json
validation.log
caddy-waf