{
	admin off
}

:80 {
    log {
        output stdout
        level DEBUG
    }
    route {
        waf {
            rule_file rules.json
            log_all
        }
        respond "Hello, World!"
    }
}